body{
  background: URL('page1.jfif');
  }
  .d-grid{
    padding-top: 78px;
    margin-left: 420px;
    margin-right: 420px;
  }
  img{
    margin:3px;
    padding: .5px;
    width:10%;
     border-radius: 20px;
     position: relative;
     height:auto;
  
  }
  
  /**{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
  background: URL('page1.jfif');
  }
  
  /*.banner{
    width:100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  
  
  }
  
  .banner-text h1{
    display: flex;
    height: 60px;
    align-items: center;
    margin-top: 100px;
    width: 1100px;
    padding:4px;
    color: white;
  }
  
  .logo img{
    margin:9px;
    padding: 2px;
    width:12%;
     border-radius: 25px;
     position: relative;
  
  }
  
  .btn{
    text-decoration: none;
    border-radius: 30px;
    color:#df3636;
    border:none;
    text-emphasis-color: white;
    margin-left: 9%;
    padding-left: 10px;
    justify-content: center;
    align-content: center;
    width: 32%;
    height: 6vh;
    margin-top: 5%;
    font-size: 27px;
  
  
  }
  
  .container-1{
    text-align: center;
    color:white;
   height: 15vh;
   width: auto;
    background-color: #df3636;
  }
  
  .orderbutton{
    display: grid;
    margin-left: 32%;
    padding-left: 10px;
    align-items: center;
    color: black;
    text-emphasis-color:#df3636;
  
  }
  
  .container-2  {
    text-align: center;
    color:white;
   height: 30vh;
    background-color: #df3636;
  }
  h2{
     text-align: center;
     display: block;
  }
  
  .container-3  {
    text-align: center;
    color:white;
   height: 63vh;
    background-color: #df3636;
  
  }
  .center{
     margin-left: 10px;
     background-color: #df3636;
     margin-bottom: 9px;
     display: grid;
  }
  
  .form{
    margin: .5rem;
    padding:.5rem;
  }*/
  