body{

  background: URL('./assets/bg.jpg');
  font-family: 'Courier New', Courier, monospace;
  }
  .d-grid{
    padding-top: 78px;
    margin-left: 420px;
    margin-right: 420px;
    font-family: 'Courier New', Courier, monospace;
   
  }
  img{
    margin:3px;
    padding: .5px;
    width:7%;
     border-radius: 18px;
     position: relative;
     height:auto;
  
  }
  /*.logo{
    margin:3px;
    padding: .5px;
    width:7%;
    border-radius: 18px;
    position: relative;
    height:auto;
  
  }*/
  /*h2{
    margin-right: 70px;
    padding-right: 60px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
  }*/
  .pizza{
    font-family: 'Courier New', Courier, monospace;
    color: white;
  }
  /*label{
    color:'white';
    font-weight:'bold'; 
    font-size:'300';
  }*/
  .card-body{
   
    color:'#df3636';
   
    display:'inline';
    text-align: center;
  }
  h3{
    margin-left:'39%';
    margin-bottom: '11%';
    color: 'white';
  }
  .placeOrder{
    margin:'100%';
    padding:'16%';
    justify-content: center;
  }
  /*.cancel-card{
    color: black;
  }*/
  /*card{
    margin-left:'100%';
    padding-left:'160%';
  }*/